/* MAIN SIGNIN LAYOUT */
.sms-signin-container {
  display: flex;
  height: 100vh;
  overflow: hidden;   /* Scroll band */
}

/* LEFT SIDE */
.sms-signin-left {
  flex: 1;
  background: #452829;
  color: white;
  display: flex;             
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       
  padding: 40px;
  text-align: center;
}

.sms-signin-left h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.sms-signin-left p {
  font-size: 18px;
  opacity: 0.9;
}

/* RIGHT SIDE */
.sms-signin-right {
  flex: 1;
  background: #F3E8DF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM */
.sms-signin-form {
  background: #E8D1C5;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.sms-signin-form h2 {
  text-align: center;
  margin-bottom: 18px;
}

.sms-signin-form input {
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #57595B;
}

.sms-signin-form button {
  width: 100%;
  padding: 12px;
  background: #452829;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.error-text {
  color: red;
  margin-top: 8px;
  text-align: center;
}

.signup-text {
  text-align: center;
  margin-top: 12px;
}
