

.sms-dashboard-container {
  height: 89vh;
  background: #F3E8DF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

.sms-center-content {
  text-align: center;
  background: #E8D1C5;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.sms-logo-center {
  font-size: 60px;
}

.sms-view-students-btn {
  margin-top: 20px;
  padding: 12px 22px;
  background: #452829;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.sms-view-students-btn:hover {
  background: #57595B;
}
