.student-details-page {
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #F3E8DF;
  height: 89vh;
}

.student-details-card {
  background: #E8D1C5;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.student-form input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #57595B;
  background: white;
}

.marks-grid {
  display: flex;
  justify-content: space-between;
}

.marks-grid input {
  width: 30%;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-save {
  background: #452829;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background: #57595B;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-back {
  background: #E8D1C5;
  color: #452829;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}
